<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>teams</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'teams/style/style.css' %}">
</head>
<body>
    <div>Add a team member</div>
    <div>Set email, location and role</div>

    <form action="." method="post">
    {% csrf_token %}
        <div>Info</div>
        <input type="text" name="first_name" value="{{people.first_name}}" placeholder="Please enter your first name">
        <input type="text" name="last_name" value="{{people.last_name}}" placeholder="Please enter your last name">
        <input type="text" name="email" value="{{people.email}}" placeholder="Please enter your email">
        <input type="text" name="phone" value="{{people.phone}}" placeholder="Please enter your phone number">

        <div>Role</div>

        <input type="submit" value="Delete" name="del">
        <input type="submit" value="Save" name="edit">
    </form>
</body>
</html>