{% extends 'teams/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'teams/style/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="addBtnContainer">
            <a class="addBtn" href="{% url 'teams:add'%}">+</a>
        </div>
        <div class="title">Team members</div>
        <div class="subtitle">You have {{people_list.count}} team members</div>
        {% if people_list %}
            <div class="contentContainer">
            {% for people in people_list %}
                <div class="dividingLine"></div>
                <div class="subContainer">
                    <div class="avatar"></div>

                    <a class="peopleContainer" href="{% url 'teams:detail' people.id %}">
                        <div class="name">
                            {{ people.first_name }} {{ people.last_name }}
                            {% if people.role == "A" %}
                                <span>(Admin)</span>
                            {% endif %}
                        </div>
                        <div class="phone"> {{ people.phone }}</div>
                        <div class="email"> {{ people.email }}</div>

                    </a>
                </div>

            {% endfor %}
            </div>
        {% else %}
            <p>No team memebers</p>
        {% endif %}
    </div>

{% endblock %}